<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>craftli</title>

<!--little pink guy icon -->
<link rel="icon" href="https://v.cdn.vine.co/r/avatars/5FC796EB7B1107588583524634624_pic-r-140704384930703cd7b0057.jpg.jpg?versionId%5Cx3dxR1e_sufYDY68KKETz.9ymCInojrQZ1h">

<!--font-->
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<!-- main css file -->
<link rel="stylesheet" type="text/css" href="../css/main.css">

<!--bootstrap-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
