<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>profiles</title>
  </head>
  <body>
    <h1>look at all of these profiles</h1>

    <ul>
      <%for(let i=0; i<profiles.length; i++){%>
        <li><a href='/profiles/<%=profiles[i]%>'> <%=profiles[i].firstName + profiles[i].lastName + profiles[i].about%>
        </a></li>
      <%}%>
  </body>
</html>
