<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>profiles</title>
  </head>
  <body>
    <h1>look at all of these profiles</h1>

      <%for(let i=0; i<profiles.length; i++){%>
        <table>
          <tr>
            <td><%=profiles[i].firstName%></td>
            <td><%=profiles[i].lastName%></td>
            <td><%=profiles[i].about%></td>
          </tr>
        </table>
      <%}%>


  </body>
</html>
