<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>new profile</title>
  </head>
  <body>
    <form action="/profiles" method="post">
      First Name: <input type="text" name="firstName"/>
      Last Name: <input type="text" name="lastName"/>
      About: <input type="text" name="about"/>
      Summary: <input type="text" name="summary"/>
      <input type='submit' value='submit'>
    </form>
  </body>
</html>
