<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>craftli.</h1>
			<p> make a mock LinkedIn profile <p>
			<p> comment on other profiles <p>
			<p> receive feedback on your profile <p>
		</header>

		<a href="/users/login">login</a>

		<a href="/users/register">register</a>

	</body>
</html>
