<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ./partials/head.ejs %>
	</head>
	<body>
		<% include ./partials/header.ejs %>
		<header>
			<div class="container">
				<div class="row row-centered">
					<div class="col-sm-4 col-centered"> create a mock LinkedIn profile! </div>
					<div class="col-sm-4 col-centered"> edit other users' profiles without their permission! </div>
					<div class="col-sm-4 col-centered"> complete administrative control for everybody! </div>
				</div>
			</div>
		</header>

		<% include ./partials/footer.ejs %>
	</body>
</html>
