<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>crafti | login</title>
  </head>
  <body>
    <br>
    <br>
    <br>
    <form action="/users/login" method="post">
       <input type="text" name="username">
       <input type="password" name="password">
       <input type="submit" value="submit">
    </form>

    <a href="/users/register">register</a>
  </body>
</html>
