<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>craftli | register</title>
  </head>
  <body>
    <br>
    <br>
    <br>
    <form action="/sessions/registration" method="POST">
       username: <input type="text" name="username" value="">
       passsword: <input type="password" name="password" value="">
       <input type="submit" value="register">
    </form>

  </body>
</html>
