<!DOCTYPE html>
<html lang="en">
  <head>
    <%include ../partials/head.ejs%>

  </head>
  <body>
    <% include ../partials/header.ejs %>

    <br>
    <br>
    <br>

    <form action="/sessions/registration" method="POST" class="text-center pagination-centered">
       username: <input type="text" name="username" value="" class="inputstuff"><br/>
       password: <input type="password" name="password" value="" class="inputstuff">
       <br/>

       <input type="submit" value="register" class="inputstuff">
    </form>

    <%include ../partials/footer.ejs%>
  </body>
</html>
